/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    background-color: greenyellow;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: yellow;
    padding-top: 40px;
    padding-bottom: 40px;
}